rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function onlyHasFieldsChanged(fields) {
      return request.resource.data.diff(resource.data).affectedKeys().hasOnly(fields);
    }

    match /sites/{documentId} {
      allow read: if true;
      allow update: if onlyHasFieldsChanged(['settings']);

      match /images/{imageId} {
        allow read: if true;
        allow update: if onlyHasFieldsChanged(['isFavorite']);
      }

      match /{document=**} {
        allow read: if true;
        allow write: if false;
      }
    }
  }
}