:root {
  /* --figtree-font: 'Figtree', sans-serif; */
  --poppins-font: 'Poppins', sans-serif;
  --base-font: var(--poppins-font);
}

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--poppins-font);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
