:root {
  --poppins-font: 'Poppins', sans-serif;
  --base-font: var(--poppins-font);
  --light-blue: #ccf3ff;
  --light-blue-over: #eafaff;
}

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--poppins-font);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}
