// Very Quick Fade:

.very-quick-fade-enter-active,
.very-quick-fade-leave-active {
  transition: opacity 0.15s ease-in-out;
}

.very-quick-fade-enter-from,
.very-quick-fade-leave-to {
  opacity: 0;
}

// Quick Fade:

.quick-fade-enter-active,
.quick-fade-leave-active {
  transition: opacity 0.3s ease-in-out;
}

.quick-fade-enter-from,
.quick-fade-leave-to {
  opacity: 0;
}

// Medium Fade:

.medium-fade-enter-active,
.medium-fade-leave-active {
  transition: opacity 0.55s ease-in-out;
}

.medium-fade-enter-from,
.medium-fade-leave-to {
  opacity: 0;
}

// Fade:

.fade-enter-active {
  transition: opacity 0.8s ease-in-out;
}

.fade-leave-active {
  transition: opacity 0.4s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

// Fade w/ Delayed Fade In:

.delayed-fade-in-enter-active {
  transition: opacity 0.8s ease-in-out 0.7s;
}

.delayed-fade-in-leave-active {
  transition: opacity 0.4s ease-in-out;
}

.delayed-fade-in-enter-from,
.delayed-fade-in-leave-to {
  opacity: 0;
}

// Image Fade:

.image-fade-enter-active,
.image-fade-leave-active {
  transition: opacity 0.8s ease-in-out;
}

.image-fade-leave-active {
  transition-delay: 0.3s;
}

.image-fade-enter-from,
.image-fade-leave-to {
  opacity: 0;
}

// Pulse Fade In and Out:

.pulseFadeInAndOut {
  animation: pulseFadeInAndOut 2s ease-in-out infinite;
}

@keyframes pulseFadeInAndOut {
  0%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.8;
  }
}
